<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315143083852-66anurvhfervpq3b386v78bkd4cm05dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315143083852-66anurvhfervpq3b386v78bkd4cm05dr</string>
	<key>API_KEY</key>
	<string>AIzaSyD0-_pvHFp3Ea2AiZ_ivFr7Iys_ZwqoEow</string>
	<key>GCM_SENDER_ID</key>
	<string>315143083852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ntut.edu.tw.selab1421.no97.SelabInventoryHelper</string>
	<key>PROJECT_ID</key>
	<string>selabinventoryhelper</string>
	<key>STORAGE_BUCKET</key>
	<string>selabinventoryhelper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315143083852:ios:2ce594d06155e8c1aba1e9</string>
</dict>
</plist>